<div class="container">
	<h3>How exciting! You have been invited to:</h3>

<p class="text">
  <strong>Party Name:</strong></br>
  <%= @party.name %>
</p>

<p class="text">
  <strong>Date:</strong></br>
  <%= @party.date %>
</p>

<p class="text" id="location">
  <strong>Location:</strong></br>
  <%= @party.location%>
</p>
</br>
<%= hidden_field_tag 'id', @party.id %>

	<p class="text">Will you be attending?</p>

	<%= button_to "Of course!", controller: 'parties', action: 'rsvp_yes', token: @attendee_token, method: :post %></br>
	<%= button_to "Unfortunately not", controller: 'parties', action: 'rsvp_no', token: @attendee_token, method: :post %>