<p id="notice"><%= notice %></p>

<p>
  <strong>Party Name:</strong></br>
  <%= @party.name %>
</p>

<p>
  <strong>Date:</strong></br>
  <%= @party.date %>
</p>

<p id="location">
  <strong>Location:</strong></br>
  <%= @party.location%>
</p>

<%= hidden_field_tag 'id', @party.id %>
<p>
  <strong>Guest list:</strong></br>
  <%= @party.guest_list %>
</p>

<p>
  <strong>Ride Requests</strong></br>
  <% @party.rides.each do |r| %>
    <p>Name: <%= r.name %></br>
    Location: <%= r.need_ride_location %></p></br>
  <% end %>
</p>


<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 10px; padding: 0 }
      #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
        border: 1px solid #F2FAF6;
      }
      #panel {
        text-align: center;
        width: 35%;
        opacity: 0.8;
        position: relative;
        left: 50%;
        top: 40px;
        margin-left: -180px;
        z-index: 5;
        background-color: #EDFCF2;
        padding: 5px;
        border: none;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUpKEW3aCJE7Q7eglp8jpQoCedf4XUqx8&sensor=false"></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js' type='text/javascript'></script>
    <script>
    var geocoder;
    var map;
    var Geomarker;
    var need_ride;
    var need_ride_location;

    function initialize() {

      geocoder = new google.maps.Geocoder();

      var myLatlng = new google.maps.LatLng(34.0500, -118.2500);
      var mapOptions = {
        zoom: 16,
        center: myLatlng,
        streetViewControl: false,
        zoomControl: true,
        panControl: false,
      };

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      //setting user location 
      GeoMarker = new GeolocationMarker();
      GeoMarker.setCircleOptions({visible: false});

      google.maps.event.addListenerOnce(GeoMarker, 'position_changed', function() {
        map.setCenter(this.getPosition());
      });

      google.maps.event.addListener(GeoMarker, 'geolocation_error', function(e) {
        alert('There was an error obtaining your position. Message: ' + e.message);
      });

      //retrieve coordinates from map center and print to infoWindow
      google.maps.event.addListener(map, "dragend", function() {
        codeLatLng();
      });

      GeoMarker.setMap(map); 

      var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">Los Angeles</h1>'+
        '<div id="bodyContent">'+
        '<p><b>Los Angeles</b>, also referred to as <b>a really cool place</b>, is a large ' +
        'stretch of urban sprawl in the southern part of the '+
        'state of California.</p>'+
        '<p>Attribution: Los Angeles, <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/New_LA_Infobox_Pic_Montage_5.jpg/439px-New_LA_Infobox_Pic_Montage_5.jpg">'+
        'http://en.wikipedia.org/wiki/Los_Angeles</a></p>'+
        '</div>'+
        '</div>';

      var address = $('#location').html();
        geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });

          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        } else {
      alert('Geocode was not successful for the following reason: ' + status);
      }
    });

      function loadScript() {
        var script = document.createElement('script');

        script.type = 'text/javascript';

        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
            'callback=initialize';

        document.body.appendChild(script);
      };
} //end initialize

 //reverse geocode
  function codeLatLng() {
    var input = map.getCenter();
    var lat = input.lat();
    var lng = input.lng();
    var latlng = new google.maps.LatLng(lat, lng);
    
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results);
        if (results[1]) {
          need_ride = results[1].address_components[1].long_name;
          need_ride_location = results[0].formatted_address;
          $('#ride-btn-center').html('<h5>Request Ride</h5><i class="ion-navigate"></i><h5>'+results[0].formatted_address+'</h5>');
        } else {
          alert('No results found');
        }
      } else {
        alert('Geocoder failed due to: ' + status);
      }
    });
  } //end codeLatLng fxn

    google.maps.event.addDomListener(window, 'load', initialize);

    if(!navigator.geolocation) {
      alert('Your browser does not support geolocation');
    }

    var d = new Date();

    var month = d.getMonth()+1;
    var day = d.getDate();

    var output = d.getFullYear() + '/' +
        (month<10 ? '0' : '') + month + '/' +
        (day<10 ? '0' : '') + day;

  $(function(){
    alert(need_ride_location);
  //   $("#ride-btn").click(function(){
  //     $.post('/rides', { need_ride: need_ride, name: name, location: need_ride_location, lat: map.getCenter().ob, lng: map.getCenter().nb, date: d, id: <%= @party.id %> }, function(data,status){
  //       window.location.href = data.url;
  //     });
  //   });
  });
</script>

<div id="map-canvas">
</div>

    <div id="map-canvas-bottom">
        <!--ride sharing -->
  <button type="button" id="ride-btn">
    <div id="ride-btn-center">
      <h5>Need Ride</h5><i class="ion-navigate"></i><h5>Current Location</h5>
    </div>
  </button>
