<h1> Recipe Box </h1>

<div id="recipe_box">
<% @recipes.each do |r| %>
	<div>
		<strong><%= r.name %></strong></br>
		Serves: <%= r.serves %>
		<% if r.serves.to_i != r.serves_max %>
			- <%= r.serves_max %>
		<% end %></br>
		Total Time: <%= r.total_time %>  minutes</br>
		<%= button_to "View Recipe", recipe_url(r.id), controller: :recipes, action: :show, method: :get %>
		Ingredients: <% r.ingredients.each do |i|%></br>
			<%= r.ingredient_recipes.find_by(ingredient_id: i).quantity %>
			<%= i.ingredient_name %>
			<% end %>
	</div></br>

	<% end %>
</div>