<h3 class="headline"> Create Recipe </h3>

<h4 class="headline"> Please fill in every item below:</h4>

<%= form_for @recipe do |r| %>

<%= r.text_field :name, placeholder: "Name" %></br>

<%= r.text_field :serves, placeholder: "Serves" %></br>

<%= r.text_field :total_time, placeholder: "Total time" %> Minutes</br>

<%= r.text_area :ingredients, rows: 5, cols: 50, placeholder: "What's in it?" %></br>

<%= r.text_area :directions, placeholder: "How do you make it?" %></br>

<%= r.submit "Share!" %>

<% end %>