<h2><%= @recipe.name %></h2>

<p class="recipe">Serves: <%= @recipe.serves %></br>
Total Time: <%= @recipe.total_time %>  minutes</br>
<p class="recipe">
Ingredients: <% @recipe.ingredients.each do |i|%></br>
	<%= @recipe.ingredient_recipes.find_by(ingredient_id: i).quantity %>
	<%= i.ingredient_name %>
			<% end %></p></p>

<div
    class="fb-login-button"
    data-show-faces="true"
    data-width="200"
    data-max-rows="1"
    data-scope="publish_actions">
  </div>

  <div><a>Like the recipe on Cornucopia</a><a href="http://www.budgetbytes.com/2011/02/quick-curried-chick-peas/"></a>. 
  </div>

  <div id="fb-post">
  <input
    class="fb-login-button"
    id="button"
    type="button"
    value="Post recipe to Facebook"
    onclick="postLike();">
  </div>

  <div id="result"></div>