<h2><%= @recipe.name %></h2>

<p id="recipe">Serves: <%= @recipe.serves %></br>
Total Time: <%= @recipe.total_time %>  minutes</br>
Ingredients: <% @recipe.ingredients.each do |i|%></br>
	<%= @recipe.ingredient_recipes.find_by(ingredient_id: i).quantity %>
	<%= i.ingredient_name %>
			<% end %></p>