<h4 class="headline">Sign Up</h1>

<div class="container">

<%= form_for @user do |user| %>

		<%= user.text_field :name, placeholder: "Name" %>

		<%= user.text_field :email, placeholder: "E-mail" %>

		<%= user.password_field :password, placeholder: "Password" %>

		<%= user.password_field :password_confirmation, placeholder: "Confirm Password" %>

		<%= user.submit "Sign Up!" %>

	<% end %>

</div>