<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="recipe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <title>Cornucopia</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <header>

      <div class="navbar-header" id="user-widget">

        <div id="user-widget" class="clearfix">
        <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="navbar-items">
            <li class="nav"><%= link_to "Cornucopia", root_path %></li>
            <li class="nav"><%= link_to "Recipes", recipes_path %></li>
          <% if current_user %>
            <li class="nav" id="welcome">Welcome <%= current_user.name %>!</li>
            <li class="nav"><%= link_to "Parties", parties_path %></li>
            <li class="nav"><%= link_to "Sign out", "/logout" %></li>
          <% else %>
            <li class="nav"><%= link_to "Log In", "/authentications/new" %>
            <li ><%= link_to "Sign Up", "/users/new" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <h1 id="fix">Cornucopia</h1>
          <p>
          Because </br>
          potlucks are supposed to be easy, </br>
          planning with friends should be fun, </br>  headaches are not invited to parties, </br>
          & how you celebrate community matters. </br>
          We are here to help. </br>
          </p>
  </header>

    <%= yield %>
 
  </body>
</html>

